.App {
  text-align: center;
  background-color: #F7F2E7;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  background-color: #AED9E0;
  padding: 10px;
}

footer {
  background-color: #AED9E0;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

main {
  padding: 20px;
  background-color: #F7F2E7;
}

@media only screen and (max-width: 600px) {
  /* Estilos para dispositivos móviles */
  header, footer {
    padding: 10px;
  }
}

.App-header {
  background-color: #ECD5B6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.centrar {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}